<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/profile_city.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="wandermust ml2">Wander-Must</h1>
        <h4>The "Must" have packing app.</h4>

      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title wandermust-font">Wander-Must</h2>
          <h5 class="description">Because we always ask everyone what to pack anyway.</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">face</i>
              </div>
              <h4 class="info-title">Free Profile</h4>

              <p>Share your packing list with a whole social network, and figure out the best things to pack for your next get
                away. This is a community of travelers!</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">event</i>
              </div>
              <h4 class="info-title">Set the date, Get the weather!</h4>
              <p>You get to set your trip details, and we help you find the rest! From high/low temperature averages to most
                packed items, we want to give you all the info. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">loyalty</i>
              </div>
              <h4 class="info-title">Know the Tricks</h4>
              <p>With the ability to leave notes on your packing list, you will know what other people thought the must-haves
                are. You can just focus on the trip, and not hunting for the items you forgot.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <h2 class="title">Our Reviews</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/assets/img/faces/card-profile6-square.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Mimi
                  <br>
                  <small class="card-description text-muted">Model</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">I can't say enough about this app. I knew to pack an umbrella for Seattle, but I would never have thought
                    to bring good shoes for trucking through the rainy streets. Some times the no brainers are the ones you
                    forget first!</p>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/assets/img/faces/christian.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Christian
                  <br>
                  <small class="card-description text-muted">Designer</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">Being a designer requires looking right for every situation. This app helps me style my packing list for
                    the area.</p>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/assets/img/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Mandy
                  <br>
                  <small class="card-description text-muted">World Traveler</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">I love traveling! This app is great because I can make specific lists for every location I want to go to AND get the weather! This app rocks!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <a class="btn btn-lg btn-primary mt-3 mx-auto px-3 py-2" href="/signup">
          <span>
            <p>SignUp for</p>
            <h4 class="wandermust-font text-capitalize">Wander-Must</h4>
          </span>
        </a>
      </div>
    </div>

  </div>
</div>