<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/city-profile.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              
              <div class="city-name">
                <h3 class="title">{{city}}</h3>
                <h6>{{travel_category}}</h6>
                
              </div>
            </div>
          </div>
        </div>
        
    	{{#each suitcases}}
			
			{{> suitcase-card }}
			  
		{{/each}}
  </div>