<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/city-profile.jpg');"></div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-12 ml-auto mr-auto">
          <div class="profile">

            <div class="city-name">
              <p>Here are some suitcases for
                <span class="locale-city">{{suitcases.[0].Locale.locale_city}}</span>. Click on a suitcase and start adding items to yours!</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{#each suitcases}} {{> suitcase-card }} {{/each}}
      </div>
    </div>
  </div>
</div>