<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/city-profile.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-12 ml-auto mr-auto">
            <div class="profile">
              <!-- where we can put weather!!!! -->
            </div>
          </div>
        </div>
        <div class="row text-center new-suitcase">
    	    <h2 class="wanderlust text-center" >You are a true EXPLORER!</h2>
          <h3 class="text-center">No one has been here yet. Search items here to share your packing list.</h3>
          <img class="img-fluid" src="/assets/img/faces/animals.png"/>
        </div>
      </div>
    </div>
  </div>

</div>
</div>