.login-dropdown button,
.login-dropdown button:hover {
    background-color: transparent!important;
}

.login-dropdown button i {
    color: white;
    font-size: 1.25rem!important;
    margin: 0!important;
    top: 0!important;
    bottom: 0!important;
}

.login-dropdown .btn.btn-secondary,
.login-dropdown .btn.btn-secondary:active,
.login-dropdown .btn.btn-secondary:focus,
.login-dropdown .btn.btn-secondary:hover {
    box-shadow: none;
}

.error-login {
    color: red!important;
    margin-left: 5px;
    min-height: 30px;
    font-size: 14px;
    font-family: "Reem Kufi", sans-serif
}

.show>.btn.btn-secondary.dropdown-toggle:focus,
.show>.btn.btn-secondary.dropdown-toggle:hover {
    color: inherit!important;
}

@media screen and (max-width: 991px) {
    .show>.dropdown-menu {
        position: relative!important;
        overflow: hidden!important;
    }
}