.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.wandermust-font {
    font-family: "Courgette", cursive;
}

.wandermust-capitalize {
    font-family: "Courgette", cursive;
    text-transform: capitalize!important;
}
