/* NAVBAR */

.dropdown-menu {
    position: absolute;
    left: -100px;
}

#suitcase-link {
    cursor: pointer;
}

#user-name-text {
    margin: 10px!important;
    font-family: "Reem Kufi", sans-serif;
    font-size: 18px;
    text-transform: none!important;
}

.suitcase-input {
    cursor: pointer;
}

.auto-locales {
    text-transform: capitalize;
    font-family: "Reem Kufi", sans-serif!important;
}

.search-for-city {
    cursor: pointer;
}

.nav-link-link,
.nav-link-link:active {
    color: inherit!important;
}