#background-signup {
    background-image: url('../images/bg7.jpg');
}

.error-text {
    color: red !important;
    margin-left: 24px;
    min-height: 25px;
    font-size: 14px;
    font-family: "Reem Kufi", sans-serif
}