@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css";

.card-yelp {
    box-sizing: border-box!important;
    margin: 10px;
}
.card-title-wrapper {
    width: 200px;
    overflow: hidden;
}

.card-img-top {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    opacity: 90%;
}

.card-img-wrapper {
    
    max-height: 100px;
    margin: 2px;
    max-height: 200px;
}